# Python Notes for Artificial Intelligence and Maching Learning

Debemos de pensar en recompensas que justamente se alinen a justo lo que queremos _cumplir_.

## 1. Python

### 1.1 Librerías 

Para importar una librería, la sintáxis es *import libreria* y puedes poner un alias opcional para acortar todo, también puedes importar solo módulos o funciones de una librería: from *libreria import funcion*.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from seaborn import set_style

#### While

In [ ]:
"""
La estructura de While es la siguiente:

while condition:
    something
"""
# https://es.wikipedia.org/wiki/Serie_de_Leibniz
i = 0
pi_approximation = 0
pi_approximations = []
while np.abs(4*pi_approximation-np.pi)/np.pi >= 0.000001: #Umbral de precisión
    pi_approximation += ((-1)**i) / ((2*i)+1)
    pi_approximations.append(4*pi_approximation)
    #residuo = np.pi-4*pi_approximation
    i+=1
print(f'Pi Approximation: {round(4*pi_approximation, 5)}')
print(f'Iterations: {len(pi_approximations)}')

Pi Approximation: 3.14159
Iterations: 318310

#### Listas

Son arreglos de objetos en Python. Pueden tener cualquier objeto, la palabra "list" está reservada y justo es una función para crear una lista a partir de un iterable

In [ ]:
my_list = ['c',2, True, print, [5,6]] 
my_list[0]

'c'

In [ ]:
my_list[2:-1] # toma los elementos del índice 1 hasta (:) el último (-1) exclusivo

[True, <function print>]

In [ ]:
# Se pueden anidar listas y así obtener matrices, primer[i] representa el elemento de la lista 
# y el segundo[k] representa al elemento k del elemento i
my_list[4][1]

6

### 1.2 Pandas
import pandas as pd

In [ ]:
import pandas as pd


#### DataFrame
Un *DataFrame* es un objeto de pandas que permite manipular datos en tablas, es un un arreglo que contiene entradas individuales o registros con valores determinados. Cada registro corresponde a una celda de una fila y columna determinada.

In [ ]:
pd.DataFrame({'col1': ['1', '3'], 
              'col2': ['2', '4'],
              'col3': ['5', '6']},
             index=['row1', 'row2'])

     col1 col2 col3
row1    1    2    5
row2    3    4    6

Por otro lado, una Serie(o Series) de pandas es una secuencia de valores. Si un DataFrame es una tabla, una Serie es una _*lista*_ que puede inicializarse utilizando únicamente una lista de Python.

In [ ]:
pd.Series([213000, 223411, 236012], index=['envios_2015', 'envios_2016', 'envios_2017'], name='producto_x')

envios_2015    213000
envios_2016    223411
envios_2017    236012
Name: producto_x, dtype: int64

In [ ]:
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

#### Lectura de archivos

El método read_csv recibe varios parámetros que permiten manejar particularidades del archivo como separadores, encabezados, valores nulos, etc.
 
  - https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [8]:
# https://archive.ics.uci.edu/ml/datasets/Adult
cols = ['age','workclass','fnlwgt','education','education_level','marital','occupation','relationship','race','sex','capital_gain','capital_loss','hours','native','target']
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=None)
df.columns = cols
df.head(4) # vemos los primero 4 elementos

,age,workclass,fnlwgt,education,education_level,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours,native,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

In [ ]:
df.tail() # vemos los ultimos 5 elementos

,age,workclass,fnlwgt,education,education_level,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours,native,target
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
df.info

<bound method DataFrame.info of        age          workclass  fnlwgt    education  education_level  \
0       39          State-gov   77516    Bachelors               13
1       50   Self-emp-not-inc   83311    Bachelors               13
2       38            Private  215646      HS-grad                9
3       53            Private  234721         11th                7
4       28            Private  338409    Bachelors               13
...    ...                ...     ...          ...              ...
32556   27            Private  257302   Assoc-acdm               12
32557   40            Private  154374      HS-grad                9
32558   58            Private  151910      HS-grad                9
32559   22            Private  201490      HS-grad                9
32560   52       Self-emp-inc  287927      HS-grad                9

                   marital          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital_gain  capital_loss  hours          native  target
0         Male          2174             0     40   United-States   <=50K
1         Male             0             0     13   United-States   <=50K
2         Male             0             0     40   United-States   <=50K
3         Male             0             0     40   United-States   <=50K
4       Female             0             0     40            Cuba   <=50K
...        ...           ...           ...    ...             ...     ...
32556   Female             0             0     38   United-States   <=50K
32557     Male             0             0     40   United-States    >50K
32558   Female             0             0     40   United-States   <=50K
32559     Male             0             0     20   United-States   <=50K
32560   Female         15024             0     40   United-States    >50K

[32561 rows x 15 columns]>

En Python podemos acceder al atributo de un objeto utilizando la sintaxis `objeto.atributo`, aquí podemos hacer lo mismo para acceder a una de las columnas

In [ ]:
# El atributo `shape` de un DataFrame nos muestra por cuántas filas y columnas esta formado
df.sex

0           Male
1           Male
2           Male
3           Male
4         Female
          ...
32556     Female
32557       Male
32558     Female
32559       Male
32560     Female
Name: sex, Length: 32561, dtype: object

In [ ]:
df['education_level'].tail()

32556    12
32557     9
32558     9
32559     9
32560     9
Name: education_level, dtype: int64

In [ ]:
type(df.education_level)

pandas.core.series.Series

Otra forma de acceder a las columnas, con la opción de admitir carácteres especiales.

In [ ]:
df.education_level[1]

13

In [ ]:
df['education_level'][1]

13

Pandas cuenta con sus propios métodos para acceder a los elementos en un DataFrame:

+ Selección por índice iloc
+ Selección por etiqueta loc

Ambos métodos reciben primero el número de fila y después el número de columna, es decir: loc[fila,columna] o iloc[fila,columna]#

##### `loc`: Esta forma de selección utiliza el **valor actual del índice** y no su posición.

In [ ]:
# seleccionamos por índice las primeras 3 filas
df.loc[0, 'education_level']

13

In [ ]:
# selecciona todas las filas y las columnas determinadas por la lista.
df.loc[:,['age', 'workclass', 'education']]

       age          workclass    education
0       39          State-gov    Bachelors
1       50   Self-emp-not-inc    Bachelors
2       38            Private      HS-grad
3       53            Private         11th
4       28            Private    Bachelors
...    ...                ...          ...
32556   27            Private   Assoc-acdm
32557   40            Private      HS-grad
32558   58            Private      HS-grad
32559   22            Private      HS-grad
32560   52       Self-emp-inc      HS-grad

[32561 rows x 3 columns]

##### `iloc` también admite notación slicing para realizar la selección de datos.

In [ ]:
# selecciona todas las filas y solo la primera columna (Serie)
df.iloc[:, [0,1]] # == df.iloc[:, ['age','iloc']]

       age          workclass
0       39          State-gov
1       50   Self-emp-not-inc
2       38            Private
3       53            Private
4       28            Private
...    ...                ...
32556   27            Private
32557   40            Private
32558   58            Private
32559   22            Private
32560   52       Self-emp-inc

[32561 rows x 2 columns]

In [ ]:
# selecciona las primeras 4 filas de la primera columna
df.iloc[:4, 0]

0    39
1    50
2    38
3    53
Name: age, dtype: int64

In [ ]:
# selecciona las últimas 5 filas de la segunda columna
df.iloc[-5:, 1]

32556          Private
32557          Private
32558          Private
32559          Private
32560     Self-emp-inc
Name: workclass, dtype: object

In [ ]:
# selecciona los índices de filas determinados por una lista, de la columna 0
df.iloc[[2,4,6], 0]

2    38
4    28
6    49
Name: age, dtype: int64

#### Modificar índices

In [ ]:
# es importante elegir una columna adecuada como índice, sin embargo este ejemplo no es bueno
df.set_index('education').head()

,age,workclass,fnlwgt,education_level,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours,native,target
education,,,,,,,,,,,,,,
Bachelors,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
Bachelors,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
HS-grad,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
11th,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
Bachelors,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#### Selección condicional 

Con frecuencia es necesario filtrar datos con base en sus valores

In [ ]:
df.hours>30

0         True
1        False
2         True
3         True
4         True
         ...
32556     True
32557     True
32558     True
32559    False
32560     True
Name: hours, Length: 32561, dtype: bool

El resultado es una Serie indicando si el valor correspondiente cumple la condición o no. En la siguiente celda podemos ver la forma de seleccionar y obtener un DataFrame como resultado:

In [ ]:
df.loc[df.hours > 30].head(5)

,age,workclass,fnlwgt,education,education_level,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours,native,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [ ]:
# Para seleccionar registros utilizando más de un criterio:
df.loc[(df.hours > 30) & (df.education_level >= 13)].head(5)

,age,workclass,fnlwgt,education,education_level,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours,native,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [ ]:

df.loc[(df.hours > 1) & (df.education == 'Masters')].head(5)

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education_level, marital, occupation, relationship, race, sex, capital_gain, capital_loss, hours, native, target]
Index: []

` & ` representa el operador AND mientras que `|` representa al operador OR  
*Nota*: los criterios de selección pueden ser sobre diferentes columnas.

Pandas tiene varios operadores de selección, algunos útiles son: `is_in` y `notnull()`

In [ ]:
df.loc[df.education.isin(['Masters','Bachelors'])].head(5)

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education_level, marital, occupation, relationship, race, sex, capital_gain, capital_loss, hours, native, target]
Index: []

In [ ]:
type(df.education[0])

str

In [ ]:
type('Bachelors')

str

In [ ]:
# Filtrando registros y obteniendo una muestra
df.loc[df.marital.notnull()].sample(5)

,age,workclass,fnlwgt,education,education_level,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours,native,target
20008,47,Private,386136,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
23972,47,Private,365516,Masters,14,Divorced,Prof-specialty,Unmarried,White,Female,0,0,40,United-States,<=50K
15208,20,Private,153516,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,30,United-States,<=50K
18856,37,Private,201259,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,0,65,United-States,<=50K
26528,47,Private,456661,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Mexico,<=50K

#### Ordenando por una columna

In [ ]:
df.sort_values('hours', ascending=True).head()

,age,workclass,fnlwgt,education,education_level,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours,native,target
19750,23,Private,72887,HS-grad,9,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,0,1,Vietnam,<=50K
25078,74,Private,260669,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,1,United-States,<=50K
11451,27,Private,147951,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,1,United-States,<=50K
8447,67,?,244122,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K

  #### Operaciones por columna
  
  std, mean, median, std, dev, sum

In [ ]:
#std, mean, median, std, dev, sum
df['age'].median()

37.0

In [ ]:
#std, mean, median, std, dev, sum
df['age'].std()

13.640432553581341

  #### Agrupaciones

In [ ]:
df.head(5)

,age,workclass,fnlwgt,education,education_level,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours,native,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df.groupby('native').age.min()

native
 ?                             17
 Cambodia                      18
 Canada                        17
 China                         22
 Columbia                      18
 Cuba                          21
 Dominican-Republic            18
 Ecuador                       21
 El-Salvador                   17
 England                       17
 France                        20
 Germany                       18
 Greece                        22
 Guatemala                     19
 Haiti                         17
 Holand-Netherlands            32
 Honduras                      18
 Hong                          19
 Hungary                       24
 India                         17
 Iran                          22
 Ireland                       23
 Italy                         19
 Jamaica                       18
 Japan                         19
 Laos                          19
 Mexico                        17
 Nicaragua                     19
 Outlying-US(Guam-USVI-etc)    21
 Peru                          17
 Philippines                   17
 Poland                        17
 Portugal                      19
 Puerto-Rico                   17
 Scotland                      18
 South                         19
 Taiwan                        20
 Thailand                      19
 Trinadad&Tobago               17
 United-States                 17
 Vietnam                       19
 Yugoslavia                    20
Name: age, dtype: int64

In [ ]:
# agrupa por workclass y devuelve el primer valor de education:level de c/grupo
df.groupby('workclass').apply(lambda a: a.education_level.iloc[0])

workclass
 ?                   10
 Federal-gov          5
 Local-gov           13
 Never-worked         6
 Private              9
 Self-emp-inc         9
 Self-emp-not-inc    13
 State-gov           13
 Without-pay          4
dtype: int64

In [ ]:
df.groupby('native')['education_level'].mean()

native
 ?                             10.598628
 Cambodia                       8.789474
 Canada                        10.652893
 China                         11.120000
 Columbia                       9.372881
 Cuba                           9.600000
 Dominican-Republic             7.114286
 Ecuador                        9.464286
 El-Salvador                    6.839623
 England                       11.011111
 France                        12.241379
 Germany                       10.985401
 Greece                         9.724138
 Guatemala                      6.031250
 Haiti                          8.931818
 Holand-Netherlands            10.000000
 Honduras                       8.692308
 Hong                          10.600000
 Hungary                       10.769231
 India                         12.430000
 Iran                          12.395349
 Ireland                       10.083333
 Italy                          8.849315
 Jamaica                        9.851852
 Japan                         11.435484
 Laos                           8.555556
 Mexico                         6.135303
 Nicaragua                      8.705882
 Outlying-US(Guam-USVI-etc)    10.285714
 Peru                           9.354839
 Philippines                   10.868687
 Poland                        10.100000
 Portugal                       6.702703
 Puerto-Rico                    8.289474
 Scotland                      10.250000
 South                         10.912500
 Taiwan                        13.294118
 Thailand                      10.944444
 Trinadad&Tobago                8.263158
 United-States                 10.169455
 Vietnam                        9.656716
 Yugoslavia                     9.937500
Name: education_level, dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1   workclass        32561 non-null  object
 2   fnlwgt           32561 non-null  int64
 3   education        32561 non-null  object
 4   education_level  32561 non-null  int64
 5   marital          32561 non-null  object
 6   occupation       32561 non-null  object
 7   relationship     32561 non-null  object
 8   race             32561 non-null  object
 9   sex              32561 non-null  object
 10  capital_gain     32561 non-null  int64
 11  capital_loss     32561 non-null  int64
 12  hours            32561 non-null  int64
 13  native           32561 non-null  object
 14  target           32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
# Opera sobre SEries y desvuelve una descripcion de alto nivel de los atributos de la columna
# Este metodo solo funciona para Series con datos númericos
df.hours.describe()

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours, dtype: float64

In [ ]:
df.hours.mean()

40.437455852092995

In [ ]:
# Valores unicos en una columna, uso principalmente en datos categoricos
df.workclass.unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [ ]:
df.workclass.value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

## 3.5 Numpy

In [ ]:
import pandas as ps

In [ ]:
npArray = np.array([1,2])

In [ ]:
npArray
#13:36

array([1, 2])

### Mapeo

> 1. map(); Recibe una funcion y se la aplica a los elem de la columna
2. apply(); Se ocupa si queremos transformar el DataFrame completo, recibre una función y se la aplica a c/fila del Datafram

In [ ]:
# https://archive.ics.uci.edu/ml/datasets/Adult
cols = ['age','workclass','fnlwgt','education','education_level','marital','occupation','relationship','race','sex','capital_gain','capital_loss','hours','native','target']
df = ps.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=None)
df.columns = cols
df.head(4) # vemos los primero 4 elementos

,age,workclass,fnlwgt,education,education_level,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours,native,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

In [ ]:
def remean_age(row):
  row.age = row.age - df.age.mean()
  return row

df.apply(remean_age, axis='columns')
# Si en aplly ocupamos axis='index' entonces el applyrealiza las transformaciones por fila
# Para hacer el cambio permanente debemos de poner: df =  df.apply(...)

,age,workclass,fnlwgt,education,education_level,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours,native,target
0,0.418353,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,11.418353,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,-0.581647,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,14.418353,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,-10.581647,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-11.581647,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,1.418353,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,19.418353,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,-16.581647,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,13.418353,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Más sobre agrupaciones

Calculamos el promedio de la edad y buscamos restarsela a toda una columna

In [ ]:
age_mean = df.age.mean()
df.age.map(lambda p: p - age_mean)
# sin afectar los datos originales

0         0.418353
1        11.418353
2        -0.581647
3        14.418353
4       -10.581647
           ...
32556   -11.581647
32557     1.418353
32558    19.418353
32559   -16.581647
32560    13.418353
Name: age, Length: 32561, dtype: float64

In [ ]:
df.groupby(['relationship', 'marital']).apply(lambda df: df.age.mean()).to_frame()

                                                0
relationship    marital
 Husband         Married-AF-spouse      31.444444
                 Married-civ-spouse     43.827063
 Not-in-family   Divorced               44.588602
                 Married-civ-spouse     32.294118
                 Married-spouse-absent  42.620853
                 Never-married          31.924777
                 Separated              41.404762
                 Widowed                62.345521
 Other-relative  Divorced               45.018182
                 Married-AF-spouse      32.000000
                 Married-civ-spouse     35.620968
                 Married-spouse-absent  39.687500
                 Never-married          27.409165
                 Separated              39.072727
                 Widowed                61.812500
 Own-child       Divorced               37.146341
                 Married-AF-spouse      30.000000
                 Married-civ-spouse     29.652632
                 Married-spouse-absent  28.644444
                 Never-married          23.542475
                 Separated              33.454545
                 Widowed                40.533333
 Unmarried       Divorced               41.790756
                 Married-spouse-absent  41.615385
                 Never-married          31.968218
                 Separated              38.773836
                 Widowed                54.530026
 Wife            Married-AF-spouse      33.500000
                 Married-civ-spouse     39.895244

In [ ]:
df.age

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [ ]:
# len corresponde a la longitud de cada grupo
df.groupby(['education']).age.agg([len, min, max])

                 len  min  max
education
 10th            933   17   90
 11th           1175   17   90
 12th            433   17   79
 1st-4th         168   19   90
 5th-6th         333   17   84
 7th-8th         646   17   90
 9th             514   17   90
 Assoc-acdm     1067   19   90
 Assoc-voc      1382   19   84
 Bachelors      5355   19   90
 Doctorate       413   24   80
 HS-grad       10501   17   90
 Masters        1723   18   90
 Preschool        51   19   75
 Prof-school     576   25   90
 Some-college   7291   17   90

## Leer desde Drive

In [20]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
'/content/drive/My Drive/AB_NYC_2019.gsheet'

In [21]:
!ls "/content/drive/My Drive/AB_NYC_2019.gsheet"

'/content/drive/My Drive/AB_NYC_2019.gsheet'

In [28]:
%cd /content/drive/My Drive/Colab Notebooks/Data
!ls

/content/drive/My Drive/Colab Notebooks/Data
AB_NYC_2019.gsheet

In [31]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data/AB_NYC_2019.gsheet")

OSError: ignored

In [14]:
airbnb = pd.read_csv('/content/drive/AB_NYC_2019.gsheet')

FileNotFoundError: ignored

## 4. Matplotlib y Seaborn

## 5. Scikit-Learn

## Referencias
+ [Documentación de pandas](https://pandas.pydata.org/docs/)